{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-modules-commonjs"],
  "ignore": ["node_modules/**/*.js"]
}
